body {
  display: grid;
}

#calc {
  background-color: aqua;
  height: 700px;
  width: 500px;
  display: grid;
  justify-self: center;
  grid-template-rows: 1.5fr 1fr 1fr 1fr 1fr;
}

#display-container {
  background-color: hotpink;
  width: 100%;
}

#top-container {
  background-color: darkturquoise;
  display: grid;
  height: 60%;
}

#top-display {
  align-self: flex-end;
  justify-self: end;
  margin: 10px;
  font-size: 36px;
}

#bottom-container {
  display: grid;
  grid-template-columns: auto 80%;
  height: 40%;
}

#bottom-display {
  align-self: flex-end;
  justify-self: end;
  margin: 10px;
  font-size: 28px;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

button {
  background-color: powderblue;
  padding: 0 30 0 30;
  font-size: 32px;
  border: 0px solid navy;
}
